
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

src/vendor/
out/
.vs/
out/
build/
dependencies/
res/shaders/common/
res/shaders/spv/
res/models/
res/shaders/nvpro_core2/
res/textures/
res/shaders/*.slang
res/shaders/*.shader